PORT=8000
DATABASE_URL=mysql://root:@localhost:3306/bulletin
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=bulletin
ENV=development
JWT_SECRET=
FRONTEND_URL=http://localhost:3000

# mailtrap
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=
EMAIL_PASS=

# s3
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY_HERE
AWS_S3_BUCKET_NAME=

# local storage
UPLOAD_DIR=uploads/profiles